.menus {
  position: relative;
  top: 35px;
}

.menus li {
  display: inline-block;
  margin-left: 45px;
}
.menus a {
  text-decoration: none;
  color: #1f1f1f;
}

.div-menu {
  position: relative;
  margin-left: 300px;
  bottom: 35px;
}

.div-input {
  position: relative;
  left: 1000px;
  bottom: 50px;
  background-image: url(./img/Ellipse-2.png);
  background-repeat: no-repeat;
  background-position: 18% 0%;
  background-size: 3%;
}

.input-searching {
  background-image: url('./img/lupa.png');
  background-repeat: no-repeat;
  background-position: 5% 55%;
  border-radius: 50px;
  margin-bottom: 90px;
  border: 0px solid;
  background-color: #f2f2f2;
  width: 200px;
  height: 30px;
  padding-left: 30px;
}

#procurar::placeholder {
  position: relative;
  left: 4px;
}

.botao-sacola {
  /*border-color: white;*/
  border: 0px solid;
}

.logo-sneak {
  position: relative;
  top: 35px;
  left: 60px;
}

.first-content {
  position: relative;
  bottom: 150px;
  margin-left: 60px;
}

.first-content button {
  border-radius: 12px;
  border-color: #1f1f1f;
  width: 200px;
  height: 50px;
  background-color: white;
  background-image: url(./img/plus.png);
  background-repeat: no-repeat;
  background-position: 3%;
}

.prelude-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 104px;
  color: #dadada;
  color: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
  margin-top: 91px;
}

.text-sneaktenis {
  position: relative;
  bottom: 64px;
}

.first-teniswhite {
  position: relative;
  left: 400px;
  bottom: 450px;
  background-image: url(./img/Ellipse\ 1.png);
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: 40%;
}

.aside h3 {
  position: absolute;
  left: 400px;
  top: 50px;
  font-size: 40px;
}

.gradientes {
  position: absolute;
  left: 570px;
  top: 220px;
  align-items: center;
}

.tenis-white {
  position: absolute;
  bottom: 255px;
  left: 430px;
  align-items: center;
}

.aside p {
  font-size: 20px;
  position: absolute;
  left: 630px;
  top: 550px;
  text-align: center;
}

.aside button {
  position: absolute;
  left: 540px;
  width: 250px;
  height: 55px;
  background-color: 0;
  border: 2px solid #1f1f1f;
  border-radius: 8px;
  margin-top: 650px;
  align-items: center;
}

.aside {
  background-color: #f3f3f3;
  position: absolute;
  width: 1200px;
  height: 780px;
  left: 50px;
  top: 800px;
  border-radius: 8px;
  align-items: center;
}

.content-main {
  position: relative;
  top: 450px;
  margin-left: 60px;
}

.content-principle1 {
  margin-top: 300px;
}

.div-text-content1 {
  position: relative;
  bottom: 250px;
}

.content-principle1 h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: #dadada;
  color: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
}

.content-principle1 p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.div-img-content1 {
  position: absolute;
  bottom: 1800px;
  left: 620px;
}

.div-img-content1 img {
  width: 554px;
  height: 450px;
}

.content-principle2 {
  margin-top: 600px;
}

.content-principle2 h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  background: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.content-principle2 p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.img1-content2 {
  width: 344px;
  height: 500px;
}

.img2-content2 {
  width: 252px;
  height: 500px;
}

.div-content-text2 {
  position: absolute;
  left: 675px;
  top: 250px;
}

.div-img-content2 {
  position: relative;
  bottom: 550px;
}

.div-content-text3 {
  position: absolute;
  top: 900px;
}

.div-content-text3 h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  background: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.div-content-text3 p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.div-img-content3 img {
  width: 604px;
  height: 600px;
}

.div-img-content3 {
  position: relative;
  left: 580px;
  bottom: 400px;
}

.div-content4 {
  position: relative;
  bottom: 200px;
}

.div-content4 h3 {
  font-weight: 600;
  font-size: 80px;
  line-height: 75px;
  font-family: 'Gilroy';
  font-style: normal;
  position: relative;
  top: 400px;
  color: #ffffff;
}

.div-content4 img {
  width: 1350px;
  height: 620px;
  margin-left: -15px;
}
