

.menus {
  position: relative;
  top: 38px;
}

.menus li {
  display: inline-block;
  margin-left: 45px;
}

.menus a {
  text-decoration: none;
  color: #1f1f1f;
}

.div-menu {
  position: relative;
  left: 300px;
  bottom: 38px;
}

.div-input {
  position: relative;
  left: 1000px;
  bottom: 48px;
  background-image: url(../img/Ellipse-1.png);
  background-repeat: no-repeat;
  background-position: 238px -2px;
  background-size: 40px;
}

.input-searching {
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: 5% 55%;
  border-radius: 50px;
  margin-bottom: 90px;
  border: 0px solid;
  background-color: #f2f2f2;
  width: 200px;
  height: 30px;
  padding-left: 30px;
}

#procurar::placeholder {
  position: relative;
  left: 4px;
}


.buy {
  background-image: url(../img/Ellipse-1.png);
  background-repeat: no-repeat;
  background-position: 238px -2px;
  background-size: 40px;
}

.botao-sacola {
  /*border-color: white;*/
  position: absolute;
  top: 6px;
  left: 242px;
  border: 0px solid rgba(0, 0, 0, .4);
  width: 10px;
  height: 10px;
}

.logo-sneak {
  position: relative;
  top: 35px;
  left: 60px;
}

.first-content {
  position: relative;
  bottom: 150px;
  margin-left: 60px;
}

.first-content button {
  border-radius: 12px;
  border-color: #1f1f1f;
  width: 200px;
  height: 50px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: 3%;
}

.prelude-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 104px;
  color: #dadada;
  background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
  
  margin-top: 91px;
}

.text-sneaktenis {
  position: relative;
  bottom: 64px;
}

.first-teniswhite {
  width: 485px;
  height: 485px;
  background-color: grey;
  background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
  border-radius: 50%;
  position: relative;
  left: 650px;
  bottom: 440px;
}

/* posição do tenis */
.whitetenis {
  position: absolute;
  top: 3px;
  right: -160px;
  width: 995px;
  height: 541px;
}

.aside h3 {
  position: absolute;
  left: 400px;
  top: 50px;
  font-size: 40px;
}

.gradientes {
  position: absolute;
  left: 570px;
  top: 220px;
  align-items: center;
}

.tenis-white {
  position: absolute;
  bottom: 255px;
  left: 430px;
  align-items: center;
}

.aside p {
  font-size: 20px;
  position: absolute;
  left: 630px;
  top: 550px;
  text-align: center;
}

.aside button {
  position: absolute;
  left: 540px;
  width: 250px;
  height: 55px;
  background-color: #F3F3F3;
  border: 2px solid #1f1f1f;
  border-radius: 8px;
  margin-top: 650px;
  align-items: center;
}

.aside {
  background-color: #f3f3f3;
  position: absolute;
  width: 1200px;
  height: 780px;
  left: 50px;
  top: 800px;
  border-radius: 8px;
  align-items: center;
  /* background-image: url(../img/Image.png); */
}

.content-main {
  position: relative;
  top: 450px;
  margin-left: 60px;
}

.content-principle1 {
  margin-top: 300px;
}

.div-text-content1 {
  position: relative;
  bottom: 250px;
}

.content-principle1 h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; 
}

.content-principle1 p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.div-img-content1 {
  position: absolute;
  bottom: 1800px;
  left: 620px;
}

.div-img-content1 img {
  width: 554px;
  height: 450px;
}

.content-principle2 {
  margin-top: 600px;
}

.content-principle2 h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  background: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.content-principle2 p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.img1-content2 {
  width: 344px;
  height: 500px;
}

.img2-content2 {
  width: 252px;
  height: 500px;
}

.div-content-text2 {
  position: absolute;
  left: 675px;
  top: 250px;
}

.div-img-content2 {
  position: relative;
  bottom: 550px;
}

.div-content-text3 {
  position: absolute;
  top: 900px;
}

.div-content-text3 h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  background: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.div-content-text3 p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
}

.div-img-content3 img {
  width: 604px;
  height: 600px;
}

.div-img-content3 {
  position: relative;
  left: 580px;
  bottom: 400px;
}

.div-content4 {
  position: absolute;
  top: 3700px;
  background-image: url(../img/Image.png);
  width: 1340px;
  height: 620px;
}

.div-content4 h2 {
  color: white;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
}

.run {
  position: relative;
  bottom: 40px;
  left: 30px;
}

.direction {
  position: relative;
  bottom: 5px;
  padding-right: 20px;
}

.know-more {
  position: relative;
  top: 1000px;
}

.maps {
  position: absolute;
  width: 627px;
  height: 638px;
  left: 60px;
  border-radius: 8px 0px 0px 8px;
}

.footer {
  position: relative;
  top: 1200px;
}

.location {
  position: relative;
  left: 687px;
  width: 590px;
  height: 638px;
  background: #F3F3F3;
  border-radius: 0px 8px 8px 0px;
}

.form-map h3 {
  position: absolute;
  bottom: 540px;
  left: 720px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #1F1F1F;
}

.name-map {
  position: absolute;
  bottom: 520px;
  left: 720px;
  background: #FFFFFF;
  border-radius: 12px;
  ;
  width: 517px;
  height: 50px;
  border: 0ch;
  border-radius: 12px;
}

.email-map {
  position: absolute;
  bottom: 450px;
  left: 720px;
  background: #FFFFFF;
  border-radius: 12px;
  ;
  width: 517px;
  height: 50px;
  border: 0ch;
  border-radius: 12px;
}

.coment-map {
  position: absolute;
  bottom: 155px;
  left: 720px;
  background: #FFFFFF;
  border-radius: 12px;
  ;
  width: 517px;
  height: 270px;
  border: 0ch;
  border-radius: 12px;
}

.check-map {
  position: absolute;
  bottom: 100px;
  left: 720px;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 4px;
  width: 20px;
  height: 20px;

}

.text-check-map {
  position: absolute;
  bottom: 84px;
  left: 750px;
  color:
    #969696;
  font-size: 19px;
}

.button-load {
  position: absolute;
  left: 720px;
  bottom: 20px;
  width: 250px;
  height: 55px;
  background: #F3F3F3;
  border: 2px solid #1f1f1f;
  border-radius: 8px;
  align-items: center;
}

.footer{
  position: relative;
  left:-10px;
  width: 1500px;
  height: 417px;
  background: #F3F3F3;
}

.footer-logo{
  position: absolute;
  left: 50px;
  top: 100px;
}

.footer h5{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #1F1F1F;
}

.logo{
  position: absolute;
  top: 63px;
  left:400px ;
}

.help{
  position: absolute;
  top: 63px;
  left: 700px;
}

.social{
  position: absolute;
  top: 63px;
  left: 1000px;
}

.novidades{
  display: block;
  list-style: none;
  
}

.novidades a{
 text-decoration: none;
 color: #1F1F1F;
}

.footer-novidades ul{
  position: absolute;
  line-height: 35px;
  top: 140px;
  left: 360px;
}

.status{
  display: block;
  list-style: none;
}

.status a{
  text-decoration: none;
  color: #1F1F1F;
}

.footer-status ul{
  position: absolute;
  line-height: 35px;
  top: 140px;
  left: 660px;
}

.redes{
  text-decoration: none;
  list-style: none;
}

.redes img{
  display: inline-block;
}

.footer-redes ul{
  position: absolute;
  top: 150px;
  left: 953px;
}

.designed{
  position: absolute;
  top: 332px;
  left: 550px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1F1F1F;
  background-color: #F2F2F2;
}

.mentorama{
  position: absolute;
  top: 330px;
  left: 660px;
  color: #1F1F1F;
  background-color: #F2F2F2;
}