.prelude-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 104px;
  color: #dadada;
  color: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
}
